{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<ul id="tabs">
<li class="active"><a href="/w/index">Bekijk</a></li>
<li><a href="/w/index.rss">RSS</a></li>
</ul>
<div id="pb" class="wtabs">

<h1>Pagina overzicht</h1>

{% if pages %}
  <ul>
    {% for page in pages %}{% if page.redirect %}{% else %}
    <li>
      <a class="int" href="{{ page.title|pageurl }}">{{ page.title|escape }}</a>
    </li>
    {% endif %}{% endfor %}
  </ul>
{% else %}
<p>Er is hier nog niets te zien.</p>
{% endif %}

</div>
{% endblock %}
